<!DOCTYPE html>
  <html>
  <head>
   <meta charset="UTF-8" />
    <title>And6a {% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
  </head>
  <body>
    <div id="global">
      <div id="header-container">
        <header id="header" role="header" class="container">

          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <ul id="nav-user" class="pull-right">
            <li class="btn btn-inverse dropdown">
              <a class="user-badge dropdown-toggle" data-toggle="dropdown" href="#">
                {{ app.user.username }}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">

                <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
              </ul>
            </li>
          </ul>
          {% endif %}
          <hgroup>
            <h1>Trombi</h1>
            <h2>Ensisa</h2>
          </hgroup>
        </header>

        <nav id="nav" role="nav" class="container">
          {% render "And6aTrombiBundle:Group:getMenu" %}
        </nav>
      </div>

      <div id="years" class="pagination pagination-centered">
        {% render "And6aTrombiBundle:Group:getMenuYears" %}
      </div>

      <div id="content-container">
        <div id="main" class="container">
          <section id="content">
            {% block body %}{% endblock %}
          </section>
        </div>
      </div>

      <div id="footer-container">
        <footer id="footer" class="container">
          <p>&copy; 2012</p>
        </footer>
    </div>
    </div>
    <!-- Javascripts -->
    {% block javascripts %}
      <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
      <script src="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"></script>
      <!--<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>-->
      <!--<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>-->
      <!--<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>-->
      <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
      <!--script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>-->
      <!--<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>-->
      <!--<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>-->
      <!--<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>-->
      <!--<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>-->
      <!--<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>-->
      <!--<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>-->
      <!--<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>-->
      <!--<script src="http://twitter.github.com/bootstrap/assets/js/application.js"></script>-->
    {% endblock %}
  </body>
</html>