{%if withLink %}
<a href="{{ path('And6aTrombiBundle_user_go', {id: user.id}) }}">
{%endif%}
  <figure class="user user-{{style|default('badge')}}">
    {% set avatar = user.urlAvatar|default('bundles/and6auser/images/empty-avatar.png') %}
    <img src="{{ asset(avatar) }}" />
    <figcaption>
      <span class="name">{{user}}</span>
      {% if not(user.current is empty) %}
      <span class="class">
        {{user.current.year}}
        ({%if user.current.year < "now"|date('Y') %}&infin;{%else%}{{user.current.level}}A{%endif%})
      </span>
      {% endif %}
    </figcation>
  </figure>
{%if withLink %}
</a>
{%endif%}