{% extends "::layout.html.twig" %}

{%block body %}
    {% for key, message in app.session.getFlashes() %}
    <div class="alert alert-info {{ key }}">
      {{ message|trans({}, 'FOSUserBundle') }}
    </div>
    {% endfor %}

    <div>
      {% block fos_user_content %}
      {% endblock fos_user_content %}
    </div>

    <div style="text-align: center; opacity: .5;">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
          {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
      {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
      {% endif %}
    </div>
{%endblock%}